body{
    background-color:wheat;
}
.dgvc{
    text-align:center;

}
h1{
    color:rgb(222, 31, 31);
    background-color: aquamarine;
}
.skills{
    color:rgb(17, 16, 17)
}
.table{
    display: flex;
    justify-content: center;

}
th,td{
    width: 200px;
    height: 30px;
}
.exp{

}